<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
		<title>If I have to type burger one more time...</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../../public/assets/js/burgers.js"></script>
	</head>
	<style>
		.burger-trio {
			display: flex;
			width: 33.3333333%;
			border: 5px solid goldenrod;
			height: 200px;
			margin: 15px auto;
			padding: 15px;
			background-color: rgba(255, 255, 255, 0.901);
		}
		h2 {
			width: 50%;
		}
		body {
			background-image: url("https://www.alistdaily.com/wp-content/uploads/2018/12/BK_Hero_120418-1024x576.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
		}
		h1 {
			width: 100%;
			text-align: center;
			color: white;
			font-size: 65pt;
		}
	</style>
	<body>
		{{{ body }}}
	</body>
</html>
